body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    text-align: center;
}

.container {
    margin-bottom: 20px;
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 0 auto 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result-img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }

    .result-img {
        margin: 10px auto;
    }
}

@media screen and (max-width: 576px) {
    input[type="submit"] {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.result-table {
    overflow-x: auto;
}

.result-table table {
    width: 100%;
    border-collapse: collapse;
}

.result-table td {
    padding: 5px;
}

.result-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Aspect ratio 4:3 */
}

.result-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-group {
    text-align: center;
}

.delete-btn,
.back-btn {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .result-img-container {
        padding-bottom: 50%; /* Adjust aspect ratio for smaller screens */
    }
}

@media (max-width: 576px) {
    .result-img-container {
        padding-bottom: 100%; /* Adjust aspect ratio for extra small screens */
    }
}

