<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay Result</title>
    <link rel="stylesheet" href="/static/pyverlayer.css">
</head>
<body>
<div class="container">
    <h1>Overlay Result</h1>
    <div class="result-table">
        <table>
            <tr>
                {% for img in result_imgs %}
                    <td>
                        <div class="result-img-container">
                            <img src="/static/RESULT/{{ img }}" alt="Overlayed Image"
                                 class="result-img">
                            <div class="button-group">
                                <a href="/download/{{ img }}" class="download-btn">Download</a>
                            </div>
                        </div>
                    </td>
                    {% if loop.index % 3 == 0 %}
            </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="button-group">
        <a href="/delete_result" class="delete-btn">Delete Result Folder</a>
        <a href="/" class="back-btn">Back to Home</a>
    </div>
</div>
</body>
</html>
