<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Overlay Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pyverlayer.css') }}">
</head>
<body>
<div class="container">
    <h1>Image Overlay Tool</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="original_imgs">Select Original Images:</label>
            <input type="file" name="original_imgs" id="original_imgs" accept="image/*" multiple required>
        </div>
        <div class="form-group">
            <label for="frame_img">Select Frame Image:</label>
            <input type="file" name="frame_img" id="frame_img" accept="image/*" required>
        </div>
        <input type="submit" value="Overlay Images">
    </form>
</div>
</body>
</html>
